body {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("../ressources/Images/fond.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
}
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}
.confederation-logo {
  max-width: 180px;
}
header h1 {
  color: black;
  margin: 0;
}
.container {
  margin: auto;
  margin-top: 150px;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 10px;
}
footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.copyright,
.contact-footer {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.copyright a {
  text-decoration: none;
  color: black;
}
table {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
}
.contact-footer a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
table,
th,
td {
  color: black;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 18px;
}
caption {
  font-size: 30px;
  margin-bottom: 10px;
}
.coutco2 {
  padding: 1px;
}
.motif {
  padding-left: 80px;
  padding-right: 80px;
}
.datedepart,
.datearrivee {
  padding-left: 3px;
  padding-right: 3px;
}
