/******************************************BODY**********************************/
body {
  font-family: "Frutiger Neue For Post";
  src: url("https://fonts.post.ch/frutigerneueforpost/v2/FrutigerNeueforPostW05-Bold.woff") format("woff");   
  font-display: swap;
  background-image: url("../ressources/Images/fond.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
}

p{
  font-size: 20px;
}
a{
  font-size: 20px;
}
label{
  font-size: 18px;
}
h2{
  font-size: 30px;
}

button{
  font-size: 17px;
}

/**********************************HEADER************************************/
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  position: fixed;
  width: 100%;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;

}

.confederation-logo {
  max-width: 180px;
}

header h1 {
  color: black;
  margin-left: 15px;
}

.headerA{
	color: black;
	text-decoration: none;
  font-size: 38px;
}



/******************************FORMULAIRE************************************/
.login-container {
  max-width: 500px;
  margin: auto;
  margin-top: 250px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.login-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*********USERNAME*********/

.box-username {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.box-username input {
  border: 1px solid #e7e7e9;
  border-radius: 5px;
  height: 35px;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 0px 15px;
  font-size: 15px;
}

/********PASSWORD*********/

.box-password input {
  border: 1px solid #e7e7e9;
  border-radius: 5px;
  height: 35px;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 0px 15px;
  font-size: 15px;
}

.box-password {
  display: flex;
  flex-direction: column;
}

/********VERIFICATION PASSWORD*********/

.box-validation-password input {
  border: 1px solid #e7e7e9;
  border-radius: 5px;
  height: 35px;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 0px 15px;
  font-size: 15px;
}

.box-validation-password {
  display: flex;
  flex-direction: column;
}

/********VALIDER*********/
.box-valider {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-decoration: none;
  justify-content: center;
  font-size: 15px;
}

.box-valider button {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-size: 17px;
}
.box-valider button:hover {
  background-color: rgba(255, 255, 255, 0.205);
}

/********CREATION COMPTE/OUBLIE DE COMPTE*********/

.create_and_forget {
  display: flex;
  align-content: center;
  justify-content: space-around;
  cursor: pointer;
  color: black;
}

.create_and_forget a {
  color: black;
  text-decoration: none;
}

/********CREATION COMPTE*********/
.creationcompte {
  margin-top: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
}

.creationcompte:hover {
  background-color: #ddd;
}

/********CREATION COMPTE*********/

.oubliecompte:hover {
  background-color: #ddd;
}
.oubliecompte {
  margin-top: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
}

/**********************************FOOTER***********************************/
footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 263px;
  position: fixed;
  bottom: 0;
  width:100%;
}

.copyright,
.contact-footer {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.copyright a {
  text-decoration: none;
  color: black;
}

.contact-footer a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
